# R project/session files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Local/private development
dev/
notes/
scratch/
exploratory/
config/

# Outputs
outputs/

# Package build artifacts
inst/doc
/doc/
/Meta/

# Local/private config
config/project_paths.yml

# Spatial/data files
*.duckdb
*.gpkg
*.qs2
*.gdb
*.gdb/

# data-raw temporary geodatabases
data-raw/gdb/*.gdb/